// app global css in Stylus form
#q-app {
    color: rgba(255, 255, 255, 0.75);
    background: -webkit-linear-gradient(bottom, #243b55, #141e30);
}

.video-container .controls {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.45);
}

.video-container .username {
    background: rgba(0, 0, 0, 0.45);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    align-items: center;
}

.video-container:not(:hover) .controls {
    transition-delay: 0.3s;
}

.video-container:hover .controls, .video-container:active .controls {
    opacity: 1;
}

.video-container {
    width: 100%;
    position: relative;
    background: black;
}

.video-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.video-layout > div {
    height: 100%;
    width: 100%;
    padding: 8px;

    video {
        max-width: 100%;
    }
}

.video-layout.children-1 {
    width: calc((((100vh - 50px) / 1 - 32px) / 9 * 16) + 16px)
}

.video-layout.children-3 {
    width: calc((((100vh - 50px) / 2 - 48px) / 9 * 32) + 48px)
}

.video-layout.children-4 {
    width: calc((((100vh - 50px) / 2 - 48px) / 9 * 32) + 48px)
}

.video-layout.children-5 {
    width: calc((((100vh - 50px) / 3 - 64px) / 9 * 48) + 64px)
}

.video-layout.children-6 {
    width: calc((((100vh - 50px) / 3 - 64px) / 9 * 48) + 64px)
}

.video-layout.children-7 {
    width: calc((((100vh - 50px) / 3 - 64px) / 9 * 48) + 64px)
}

.video-layout.children-8 {
    width: calc((((100vh - 50px) / 3 - 64px) / 9 * 48) + 64px)
}

.video-layout.children-9 {
    width: calc((((100vh - 50px) / 3 - 64px) / 9 * 48) + 64px)
}

.video-layout.children-1 > div {
    width: 100%;
}

.video-layout.children-2 > div {
    width: calc((100% / 2));
}

.video-layout.children-3 > div {
    width: calc((100% / 2));
}

.video-layout.children-4 > div {
    width: calc((100% / 2));
}

.video-layout.children-5 > div {
    width: calc((100% / 3));
}

.video-layout.children-6 > div {
    width: calc((100% / 3));
}

.video-layout.children-7 > div {
    width: calc((100% / 3));
}

.video-layout.children-8 > div {
    width: calc((100% / 3));
}

.video-layout.children-9 > div {
    width: calc((100% / 3));
}

.video-layout.children-10 > div {
    width: calc((100% / 4));
}

.video-layout.children-11 > div {
    width: calc((100% / 4));
}

.video-layout.children-12 > div {
    width: calc((100% / 4));
}

.video-layout.children-13 > div {
    width: calc((100% / 4));
}

.video-layout.children-14 > div {
    width: calc((100% / 4));
}

.video-layout.children-15 > div {
    width: calc((100% / 4));
}

.video-layout.children-16 > div {
    width: calc((100% / 4));
}


@media only screen and (max-width: 600px) {
    .video-layout > div {
        width: 100% !important;
    }

    .video-layout video {
        max-height: auto;
    }
}